.section
  width: min(80vw, 1000px)
  margin: 0 auto 40px auto
  display: flex
  flex-flow: column
  @media only screen and (max-width: 500px)
    width: 324px
    margin-bottom: 40px
.image
  border-radius: 14px
  margin: 0 auto
  z-index: 1

.ctaBlock
  margin: -140px 0 0
  padding: 160px 20px 20px
  background-color: #ea0028
  z-index: 0
  border-radius: 14px
  display: flex
  justify-content: center
  align-items: center
  gap: 20px
  @media only screen and (max-width: 500px)
    flex-flow: column
    margin-top: -140px
    padding: 140px 10px 10px
    gap: 0

.actions
  display: flex
  @media only screen and (max-width: 500px)
    margin-bottom: 10px

.networks
  display: flex
  gap: 10px
  @media only screen and (max-width: 500px)
    margin-bottom: 10px

.primaryBtn
  background: #fff
  color: #eb0028
  padding: 12px 24px
  border-radius: 50px
  font-weight: 900
  text-decoration: none
  @media only screen and (max-width: 500px)
    width: 100%
    text-align: center

.socialBtn
  color: #fff
  text-decoration: none
  border: 2px solid rgb(255, 255, 255)
  padding: 8px 16px
  border-radius: 30px
  font-size: 12px
  @media only screen and (max-width: 500px)
    flex: 1 1 50%
    text-align: center

.date
  color: #fff
  text-transform: uppercase
  font-weight: bold
  font-size: 24px
  @media only screen and (max-width: 500px)
    margin: 0 auto

.primaryBtn, .socialBtn
  transition: all 0.2s ease-in-out
  &:hover
    transform: scale(1.05)
