.summerFestPage
  width: 100vw
  height: 100vh
  position: relative
  overflow-y: scroll
  scroll-behavior: smooth

.logo
  position: fixed
  right: 0
  bottom: 0
  transform: rotate(180deg)
  opacity: 0.5
  z-index: 4
