@import '../../_styles/mixins'
$color1: #1E90FF // Яркий синий
$color2: #A020F0 // Фиолетовый
$color3: #FF1493 // Розовый

.footerSection
  width: 100vw
  height: 500px
  background: linear-gradient(180deg, white, $color1, $color2)
  display: flex
  position: relative

.footerSection__content
  width: 80vw
  margin: 150px auto 30px auto
  color: white
  display: flex
  flex-direction: column
