.headerSection
  position: relative
  width: 1392px
  margin: 0 auto 96px auto
  border-radius: 0 0 120px 120px
  overflow: hidden
  display: flex
  background: #3F195B
  color: white
  padding: 69px 45px 69px 115px
  perspective: 1000px

  @media only screen and (max-width: 600px)
    width: 90%
    border-radius: 0 0 20px 20px
    padding: 69px 10px 0

.headerSection__logo
  position: absolute
  left: 0
  top: 0

.headerSection__contentWrapper
  position: relative
  display: flex
  justify-content: space-between
  width: 100%
  @media only screen and (max-width: 600px)
    flex-direction: column

  .imageBlock
    position: relative
    margin: 30px 0
    @media only screen and (max-width: 600px)
      display: flex
      justify-content: center
    .figure1,
    .figure2,
    .figure3
      transition: transform 0.2s ease-out
      transform-style: preserve-3d
      will-change: transform

    .figure1
      position: absolute
      top: 220px
      right: -40px
      z-index: 4
      @media only screen and (max-width: 600px)
        top: 110px
        right: 0
    .figure2
      position: absolute
      bottom: 60px
      left: -30px
      z-index: 4
      @media only screen and (max-width: 600px)
        bottom: 40px
        left: 0
    .figure3
      position: absolute
      top: -50px
      left: -60px
      z-index: 0
      transform: rotate(20deg)
      @media only screen and (max-width: 600px)
        bottom: 40px
        left: 0

  .textBlock
    position: relative
    width: 579px
    height: 220px
    margin-top: 100px
    display: flex
    flex-direction: column
    @media only screen and (max-width: 600px)
      width: 100%
      margin: 0
      align-items: center

    .textBlock__description
      font-size: 20px
      line-height: 26px
      width: 90%
      margin: 24px 0 0 20px
      @media only screen and (max-width: 600px)
        font-size: 16px
        margin: 10px 0 0

    .rectangle
      position: absolute
      top: 95px
      z-index: 0
      left: -4px
      width: 380px
      height: 80px
      border-radius: 16px
      background: #7030A0
      transform: rotate(-2deg)
      @media only screen and (max-width: 600px)
        width: 280px
        height: 60px
        top: 40px
