@import '../../_styles/mixins.sass'

.navigationSection
  position: fixed
  top: 0
  width: 100%
  right: 50%
  transform: translateX(50%)
  background: transparent
  font-size: 25px
  color: $primary-color
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  transition: background 0.3s ease-in-out
.content
  width: 100%
  max-width: 1440px
  background: transparent

.navigationLink
  cursor: pointer
  font-size: 16px
  &:hover
    color: #1E90FF
