.carousel_wrapper
  padding: 2rem 1rem
  align-items: center
  display: flex
  flex-direction: column
  gap: 2rem
  height: 100%
  :global(.slick-center) .card
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15)
    z-index: 2

  @media only screen and (max-width: 500px)
    padding: 0 10px
    .card
      min-height: 570px

.segmented
  max-width: 80%
  display: flex
  justify-content: center
  flex-wrap: wrap
  text-align: center
  gap: 10px

  :global(.ant-segmented-item)
    padding: 0.5rem 1rem
    font-size: 14px

.buttonsWrapper
  display: flex
  justify-content: space-between
  width: 100vw
  padding: 0 10px
  max-width: 1200px

.button
  font-size: 24px
  border-radius: 0
  border: 2px #26a9d8 solid
  cursor: pointer
  padding: 5px
  margin: 0
  color: #26a9d8
  font-family: 'Courier New', monospace
  &.active
    border: 1px dashed #26a9d8

.card
  max-width: 400px
  width: 100%
  border-radius: 0
  padding: 1rem
  border: #3F195B 1px solid
  transition: transform 0.3s ease
  margin: 0 50px
  min-height: 500px
  @media only screen and (max-width: 500px)
    margin: 0
    flex: 0 0 300px
    width: 300px

  :global(.ant-card-body)
    padding: 10px 0 0
    background: black
    @media only screen and (max-width: 500px)
      height: 100%

  :global(.ant-card-meta-title)
    font-size: 1.1rem
    font-weight: 600
    color: white
    background: black

  :global(.ant-card-cover)
    img
      border-radius: 0

  :global(.ant-card-meta-description)
    font-size: 0.95rem
    margin-top: 0.5rem
    line-height: 1.5
    color: white
    background: black
    height: 100%

.cardWrapper
  display: flex
  width: 100%
  overflow: scroll
  justify-content: flex-start
  gap: 20px
  margin-top: 20px
  &::-webkit-scrollbar
    display: none
