.closestEventSection
  margin: 0 auto 94px
  width: 1312px
  height: 429px
  background: #7030a0
  border-radius: 40px
  padding: 36px 48px
  color: white
  position: relative
  overflow: hidden
  .imageWrapper
    display: flex
    align-items: center
    position: absolute
    width: 1312px
    height: 429px
    left: 0
    top: 0
    z-index: 0

  .contentWrapper
    z-index: 3
    height: 100%
    display: flex
    flex-direction: column
    position: relative
    .firstRow
      display: flex
      justify-content: space-between
      align-items: center
      .location
        display: flex
        gap: 10px
        font-size: 32px

    .secondRow
      display: flex
      justify-content: space-between
      align-items: flex-end
      margin-top: auto
      .leftSide
        .icons
          display: flex
          gap: 10px
          margin-top: 10px
        .textBlock
          .title
            font-size: 40px
            font-weight: 700
          .description
            font-size: 24px
      .rightSide
        display: flex
        align-items: center
        .calendarWrapper
          margin-left: 5px
        .button
          background: transparent
          color: white
          border: 3px solid white
          border-radius: 500px
          padding: 0.5em 3.3em
          margin: .13em
          line-height: 1.5em
          font-size: 1em
          font-weight: 600
          &:hover
            transform: scale(1.07)

  @media only screen and (max-width: 500px)
    width: 90vw
    height: 90vh
    padding: 20px 10px
    .imageWrapper
      width: 90vw
    .contentWrapper
      .firstRow
        flex-direction: column
        .location
          font-size: 24px
          margin-bottom: 10px
      .secondRow
        margin-top: 30px
        flex-direction: column
        justify-content: space-around
        height: auto
        .leftSide
          display: flex
          flex-direction: column
          align-items: center
          .textBlock
            text-align: center
            margin: 20px 0
        .rightSide
          flex-direction: column
          margin: 40px auto 20px

.image
  opacity: 0.2
