.partnersSection
  padding: 50px 0 110px
  text-align: center
  overflow: hidden
  width: 100%
  background: #3F195B
  flex: 0 0 auto
  color: white

.title
  font-size: 68px
  font-weight: bold
  margin-bottom: 50px

.marquee
  overflow: hidden
  position: relative

.track
  display: flex
  gap: 80px
  width: fit-content
  animation: marquee 20s linear infinite
  padding-right: 80px

.imageWrapper
  position: relative
  flex-shrink: 1
  height: 150px
  width: 250px
  overflow: hidden

.logo
  object-fit: scale-down
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1000%) hue-rotate(109deg) brightness(100%) contrast(101%)

@keyframes marquee
  0%
    transform: translateX(0)
  100%
    transform: translateX(-50%)
